!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ChatSpace
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'layouts/notifications'
<<<<<<< HEAD
=======
    -# = render partial: 'layouts/flash'
>>>>>>> 1055be327df159b918ea680e41dfa4394318512d
    = yield
